@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visually-hidden {
    display: none;
}

ul {
    list-style-type: none;
}

body {
    background: #c0dbd9;
}

header {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* --------------------------- */

/* --------------------------- */

.header-wrapper {
    background: #7faff6;
    max-width: 1170px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
}

#header__toggle {
    visibility: hidden;
    position: absolute;
    opacity: 0;
}

.header__btn {
    position: relative;
    background: #a5c7f9;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* z-index: 2; */
}

.header__text {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    background: white;
    width: 400px;
    height: 400px;
    padding: 169px 116px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 62px;
    /* z-index: 0; */
}

.header__close {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 8px 15px;
    width: min-content;
    color: white;
    background: #7faff6;
    border-radius: 5px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

#header__toggle:checked ~ .header__text {
    visibility: visible;
    left: 0;
    transition-duration: 0.5s;
}

main {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.main-wrapper {
    margin: 15px auto 0;
    max-width: 1170px;
    height: 411px;
    background: #b3f95a;
    display: grid;
    grid-template-columns: 39fr 59fr 16fr;
    grid-template-rows: 198px;
    grid-gap: 15px;
    counter-reset: counter;
}

.main-grid__item {
    display: block;
    background: #8ad191;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 62px;
}

.main-grid__item::before {
    counter-increment: counter;
    content: counter(counter);
}

.four {
    grid-column: 1/3;
}

.main-list {
    max-width: 1170px;
    max-height: 259px;
    margin: 15px auto 0;
    background: #88b5bf;
    padding: 30px;
    display: flex;
    grid-gap: 30px;
}

.main-list__item {
    max-height: 199px;
    background: #0d89b0;
    position: relative;
    padding-top: 17.93%;
    width: 100%;
}

footer {
    max-width: 1200px;
    padding: 0 15px;
    margin: 100px auto 0;
}

.footer-wrapper {
    background: #7faff6;
    max-width: 1170px;
    height: 100px;
}
